<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>404</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/css/style.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Khand:700,500' rel='stylesheet' type='text/css'>

    </head>
    <body>

        <div class="page404">
            <div class="number404">
                404
            </div>
            <div class="textNotFound">
                Page not found
            </div>
            <div class="returnHome">

                <a href="/" class="btn"><i class="fa fa-fw fa-arrow-left" aria-hidden="true"></i> Home</a>
            </div>
        </div>

    </body>
</html>
