<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title title">User Tags</h4>
</div>

<form class="form-horizontal">
    <div class="modal-body">
        <div class="form-group">
            <label class="col-lg-2 control-label">Raw:</label>
            <div class="col-lg-10">
                <input id="txtUserTags" class="form-control" value="{{newTags}}" disabled />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Tags:</label>
            <div class="col-lg-10">
                <div auto-complete url="/tags" model="newTags" taginit="{{userInfo.tags}}"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</form>