<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Promotions | Money Lover</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

        <script src="https://use.fontawesome.com/19505e7970.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="/js/action.js"></script>
    </head>
    <body>
        <!-- Feedback to me (nguyenz.anhduc@gmail.com)-->
        <div class="wrapper-child">
            <div class="header">
                <a href="/" type="button" name="button"><i class="fa fa-arrow-left" aria-hidden="true" onclick="backToHome()"></i></a>
                <div>detail</div>
                <div>Promotion</div>
                <div class="title-detail animated fadeInUp">Cho bé tập quản lý đồng hồ - Vui 1/6, nhận quà hấp dẫn</div>
            </div>
            <div class="detail-promotion row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="offer-detail"></div>
                    <div class="category-detail"></div>
                    <div class="coupon-detail"></div>
                    <div class="expired-date-detail"></div>
                    <div class="condition-detail"></div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 hidden-xs">
                    <div class="buy text-right ">
                        <a href="#" class="btn btn-lg " type="button">Mua ngay</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="content-detail"></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-sm hidden-md hidden-lg">
                    <div class="buy text-center">
                        <a href="#" class="btn btn-lg" type="button">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
