<div class="modal-header">
    Active user details for {{day}}
</div>
<div class="modal-body">
    <div>
        <h4 class="module-subtitle">Total</h4>
        <div id="loyalTotal" class="chart"></div>
    </div>
    <div>
        <h4 class="module-subtitle">Android</h4>
        <div id="loyalAndroid" class="chart"></div>
    </div>
    <div>
        <h4 class="module-subtitle">iOS</h4>
        <div id="loyalIos" class="chart"></div>
    </div>
    <div>
        <h4 class="module-subtitle">Windows Desktop</h4>
        <div id="loyalWindowsDesktop" class="chart"></div>
    </div>
    <div>
        <h4 class="module-subtitle">Windows Mobile</h4>
        <div id="loyalWindowsMobile" class="chart"></div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="close()">Close</button>
</div>
