<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Edit Category</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="tagname">Category:</label>
        <input type="text" class="form-control" id="name" ng-model="edit.category">
    </div>
    <div class="form-group">
        <label for="duplicate">Key Name:</label>
        <input type="text" class="form-control" id="duplicate" ng-model="edit.key_name">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-grape" ng-click="update(edit)">Edit</button>
</div>