<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{{title}} | Money Manager, Budget & Saving Planner</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">

    <link rel="image_src" href="/assets/img/logo-large.png"/>
    <link rel="icon" href="/favicon.ico"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="description"
          content="Money Lover helps more than 2.500.000 people keep track of expenses and budgets to reach their saving goals. It's simplest way to manage personal finances."/>
    <meta name="keywords"
          content="money manager, money management, expense tracker, expense manager, budget, budgeting app, budget planner, save money, saving planner, personal finance, money management app, money manager app, budget app, best money management app, personal finance management, home budget, family budget, bill reminder, bills reminder, bill manager, bills manager, payment reminder"/>
    <meta name="author" content="A friend of ZooStudio">

    <meta property="og:title" content="Money Lover: Money Manager, Budget & Saving Planner"/>
    <meta property="og:url" content="https://web.moneylover.me/"/>
    <meta property="og:image" content="https://moneylover.me/source/ml-cover.png"/>
    <meta property="og:description" content="Personal finance with no stress, live the life you want"/>
    <meta property="og:type" content="website"/>

    <meta name="apple-itunes-app" content="app-id=486312413, affiliate-data=moneylover-web, app-argument=money"/>

    <link rel="stylesheet" href="/assets/style/app.css">
</head>
<body>
{{{body}}}

<script type="text/javascript" src="/js/init.js"></script>
<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
