<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">&times;</button>
	<h4 class="modal-title title">Icon info</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" ng-submit="saveIconPack()">
		<div class="form-group" ng-if="errorMsg">
			<label class="col-lg-2 control-label"></label>
			<div class="col-lg-10">
				<p>{{ errorMsg }}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="input1">Name:</label>
			<div class="col-lg-10">
				<input type="text" placeholder="Name..." id="input1" class="form-control" ng-model="iconInfo.name" required />
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="input2">Preview:</label>
			<div class="col-lg-10">
				<div id="image-element-preview1" class="col-lg-6"><img class="thumb" ng-src="{{ iconInfo.preview }}" /></div>
				<div class="col-lg-4">
					<input type="file" accept="image/*" id="input2" class="form-control" upload-icon="{{ iconInfo.product_id }}" upload-type="thumb" package-model="iconInfo.preview" old-value="{{ iconInfo.preview }}" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="input3">Thumbnail:</label>
			<div class="col-lg-10">
				<div id="image-element-preview2" class="col-lg-6"><img class="thumb" ng-src="{{ iconInfo.thumb }}" /></div>
				<div class="col-lg-4">
					<input type="file" accept="image/*" id="input3" class="form-control" upload-icon="{{ iconInfo.product_id }}" upload-type="thumb" package-model="iconInfo.thumb" old-value="{{ iconInfo.thumb }}" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="input4">Icon Pack (Zip file):</label>
			<div class="col-lg-10">
				<div class="col-lg-6">{{ iconInfo.link }}</div>
				<div class="col-lg-4">
					<input type="file" accept="application/zip" id="input4" class="form-control" upload-icon="{{ iconInfo.product_id }}" upload-type="pack" package-model="iconInfo.link" old-value="{{ iconInfo.link }}" />
				</div>
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error': existPackpage}">
			<label class="col-lg-2 control-label" for="input5">Product ID</label>
			<div class="col-lg-10">
				<input id="input5" type="text" class="form-control" ng-model="iconInfo.product_id" ng-change="checkExistPackage()" required />
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
			<input type="submit" class="btn btn-success" value="Save Icon Pack" ng-click="save()">
		</div>
	</form>
</div>