<html>
<head>
	<style type="text/css">
		body,html {
			margin: 0;
			background-color: #E5E5E5;
		}
		.core-header {
		height: 64px;
		background-color: #2baf2b;
		color: white;

		}

		#logo {
		width: 40px;
		margin: 0 auto;
		padding-top: 10px !important;
		}

		.form-404 {
		background: #fff;
		width: 577px;
		margin: 0 auto;
		margin-top: 32px;
		margin-bottom: 32px;
		}
		p {
		margin: 0 24px;
		}
		button.colored {
		margin: 20px;
		padding: 12px;
		border: 0;
		cursor: pointer;
		}

		button.colored {
		background: rgb(43, 175, 43);
		color: #fff;
		text-transform: uppercase;
		}


		.text-title {
		  font-family: 'Roboto', sans-serif;
		  font-weight: 500;
		  font-size: 20px;
		  line-height: 30px;
		  color: rgba(000,000,000,0.87);
		}

		.text-body {
		  font-family: 'Roboto', sans-serif;
		  font-size: 14px;
		  font-weight: 400;
		  line-height: 20px;
		  color: rgba(000,000,000,0.87);
		}
		
	</style>
</head>
<body>
	<div class="core-header">
		<div id="logo"><img src="../images/app_icon_flat.png"></div> 
	</div>  
	<div class="form-content"> 
		<section class="form-404">
		<div class="content-form">
			 <div class="img-content"><img src="../images/404.png"/></div>
			 <p class="text-title">Sorry! Your browser is not supported.</p>
			 <p class="text-body">We recommend using the Google Chrome browser or other browsers based on Chromium source code.</p>
			 <a href="https://www.google.com/intl/en/chrome/browser/thankyou.html?installdataindex=defaultbrowser"><button class="colored" label="Google Chrome">Google Chrome</button></a>
		</div>
		</section>   
	</div> 
</body>	
</html>