<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>404</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/css/style.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/css/iconfont.css" media="screen" charset="utf-8">

        <link href='https://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>

    </head>

    <body>
        <div class="page404">
            <div class="wrapper404">
                <div class="form404">
                    <div class="errorText">
                        ERROR
                    </div>
                    <div class="iconand404">
                        <span>4</span>
                        <span class="material-icons icon icon-smile"></span>
                        <span>4</span>
                    </div>
                </div>
                <div>
                    You are so lucky when find out me.
                    <div>
                        Let's take a selfie before get <a href="/">back</a>
                    </div>
                </div>
            </div>

        </div><!-- /page404-->
    </body>
</html>
