
<div class="modal-body modal-body-email-mobile">
  <button class="btn btn-success btn-block" ng-click="send(mail)" tooltip="Send mail">
    <i class="icon-rocket icon-large"></i>
    Send email
  </button>
  <button class="btn btn-orange btn-block" ng-click="editMail(mail, createMail)" tooltip="Sửa mail">
    <i class="icon-pencil icon-large btn-block"></i>
    Edit email
  </button>
  <button class="btn btn-danger btn-block" ng-click="deleteMail(mail)">
    <i class="icon-trash icon-large"></i>
    Delete email
  </button>
</div>
