</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Full Width, Fluid Column : END -->

                <tr>
                    <td style="background: #cbcbcb; border-bottom: 3px solid #cbcbcb;-moz-border-radius: 0 0 3px 3px;-webkit-border-radius: 0 0 3px 3px;border-radius: 0 0 3px 3px;">
                        <div style="background: #ffffff;-moz-border-radius: 0 0 3px 3px;-webkit-border-radius: 0 0 3px 3px;border-radius: 0 0 3px 3px;"> </div>
                    </td>
                </tr>
            </table>
            <!-- Email Container : END -->

            <!-- Footer : BEGIN -->
            <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" class="email-container">
                <tr>
                    <td style="height: 50px;"></td>
                </tr>
            </table>
            <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="text-align: center; background: #252525;">
                <tr>
                    <td>
                        <table border="0" width="600" cellpadding="0" cellspacing="0" align="center" style="margin: auto; padding: 0px 10px;" class="email-container">
                            <tr>
                                <td height="10" style="font-size: 0; line-height: 0;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="hh-force-col-center" valign="middle" style=" font-size: 11px; line-height: 12px; color: #999; text-align: left;">
                                    <p style="padding-right: 20px">
                                        You are receiving this email because you're an awesome user of Money Lover.
                                        <br />
                                        <br />Don’t want to receive emails anymore?
                                        <br />
                                        <a style="text-decoration: underline; color: #999" href="*|UNSUB:https://web.moneylover.me/unsubscribe|*">Unsubscribe</a> here and we won’t bug you again.
                                    </p>
                                </td>
                                <td class="hh-force-col-center" valign="middle" style="font-size: 16px; line-height: 22px; color: #444; text-align: right; margin-top: 15px; padding-top: 5px; min-width: 100px;">
                                    <a href="https://facebook.com/moneylover.me" target="_blank" style="text-decoration: none; display: inline-block; padding: 0px 5px 15px; border: 0px none;opacity: 0.6">
                                        <img border="0" alt="Facebook" src="https://static.moneylover.me/img/mail/facebook-icon.png" />
                                    </a>
                                    <a href="https://twitter.com/moneyloverapp" target="_blank" style="text-decoration: none; display: inline-block; padding: 0px 5px 15px; border: 0px none;opacity: 0.6">
                                        <img border="0" alt="Twitter" src="https://static.moneylover.me/img/mail/tw-icon.png" />
                                    </a>
                                    <a href="https://plus.google.com/communities/108482252933678786113" target="_blank" style="text-decoration: none; display: inline-block; padding: 0px 5px 15px; border: 0px none;opacity: 0.6">
                                        <img border="0" alt="Google" src="https://static.moneylover.me/img/mail/g-icon.png" />
                                    </a>
                                    <br />
                                    <a href="//moneylover.me" target="_blank" style="font-size: 11px; color: #999999; text-decoration: none;">ZooStudio &copy; 2016</a>
                                </td>
                            </tr>
                            <tr>
                                <td height="10" style="font-size: 0; line-height: 0;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- Footer : END -->
        </td>
    </tr>
</table>
</body>

</html>
