<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bank</title>

        <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="css/style.css" media="screen" charset="utf-8">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,900&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
        <script type="text/javascript" src='js/bootstrap.min.js'></script>
        <script type="text/javascript" src='js/action.js'></script>
        <script type="text/javascript" src='js/timeago.js'></script>

    </head>
    <body>

        <script type="text/javascript">
            var style = {
               primary_color: '#0b5912',
            };
        </script>

        <div class="wrapper">
            <div class="header-image-child primaryColor-bg-color">
                <div class="iconBack">
                    <i class="fa fa-arrow-circle-left"></i>
                </div>
            </div><!-- /header-image-child-->

            <div class="edge--top color-pick hidden-md hidden-lg"></div>

            <div class="content">

                <div class="everyP everyP-child row">
                    <div class="col-xs-1">
                        <div>
                            <div class="serial-child primaryColor-text-color primaryColor-bg-color">1</div>
                        </div>
                    </div>
                    <div class="col-xs-10 categories">
                        Master Card
                    </div>
                    <div class="col-xs-offset-1 col-xs-10 dateCreate">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        <span>8 minutes ago</span>
                    </div>

                    <div class="col-xs-12 firstlinePrommot-child">
                        Giảm giá từ 50% cho tất cả các sản phẩm mang thương hiệu: Bally, Burberry, BVLGARI
                    </div><!-- /firstlinePrommot-child-->

                    <div class="col-xs-12 secondlinePromot-child">
                        <strong>Kính gửi Quý khách hàng,</strong>
                        <br />
                        Vietcombank xin trân trọng gửi tới Quý khách hàng chương trình ưu đãi có nội dung như sau:
                        <br />
                        <ul>
                            <li>
                                <i>Đối tượng ưu đãi:</i> Tất cả khách hàng thanh toán bằng Thẻ Vietcombank.
                            </li>

                            <li>
                                <i>Nội dung ưu đãi:</i> Giảm giá từ 50% cho tất cả các sản phẩm mang thương hiệu: Bally, Burberry, BVLGARI (túi xách), Salvatore Ferragamo, Versace, Versace Jeans, Just Cavalli, Paul & Shark, Fashion Kids (Burberry Kids, Fendi Kids, Miss Blumarine Kids, Monnalisa Kids, Moschino Kids, Pinko Kids, Polo Kids, Roberto Cavalli Kids, Versace Young & Simonetta Kids). Và đặc biệt giảm thêm 2% cho chủ thẻ Vietcombank vào ngày 08/04/2016.
                            </li>

                            <li>
                                <i>Thời gian ưu đãi:</i> Từ 08/04/2016 đến 10/04/2016 (Giờ mở cửa: từ 09h30 đến 21h30)
                            </li>

                            <li>
                                <i>Điều kiện nhận ưu đãi: </i>Không áp dụng đồng thời với các chương trình ưu đãi khác

                            </li>

                            <li>
                                <i>Địa điểm ưu đãi: </i>Tầng 5, Tràng Tiền Plaza, 24 Hai Bà Trưng, Hoàn Kiếm, Hà Nội.
                            </li>
                        </ul>

                        <i>(Để biết thêm thông tin chi tiết xin vui lòng liên lạc: Tel- (+84)38257537 – Máy lẻ: 119 hoặc 129)</i>
                    </div><!-- /secondlinePromot-child-->

                </div><!-- /everyP-child-->

                <div class="loadmore-child"></div>

            </div><!-- /content-->
        </div><!-- /wrapper-->

    </body>
</html>
