<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title title">New Admin</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" action="#">
        <div class="form-group" ng-if="errorMsg">
            <label class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
                <p>{{ errorMsg }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label" for="adname">Admin name:</label>
            <div class="col-lg-9">
                <input type="text" placeholder="Admin's name" id="adName" class="form-control" ng-model="adminInfo.username">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label" for="adPw">Password:</label>
            <div class="col-lg-9">
                <input type="password" placeholder="Password" id="adPw" class="form-control" ng-model="adminInfo.password" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">System Admin?</label>
            <div class="col-lg-2" ng-init="adminInfo.isAdminSystem = false">
                <input type="checkbox" class="checkboxAdmin" ng-model="adminInfo.isAdminSystem" autocomplete="off" />
            </div>
            <!--<label class="col-lg-1 control-label">Team:</label>
            <select ng-model="adminInfo.role" multiple>
              <option value="Finsify">Finsify</option>
              <option value="iOS">iOS</option>
              <option value="Android">Android</option>
              <option value="Windows">Windows</option>
              <option value="Web/Backend">Web/Backend</option>
              <option value="Concept">Concept</option>
              <option value="Biz">Biz</option>
              <option value="Support">Support</option>
            </select>-->

            <label class="col-lg-2 control-label">Role:</label>
            <select ng-model="adminInfo.permission" ng-init="adminInfo.permission = 'Admin'">
              <option value="Admin" ng-selected="true">Admin</option>
              <option value="Dev">Dev</option>
              <option value="Marketing">Marketing</option>
              <option value="Support">Support</option>
              <option value="Volunteer">Volunteer</option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="addAdmin(adminInfo)">Create</button>
</div>