<!DOCTYPE html>
<html>
	<head>
		<% include ./header %>
	</head>
<body class="full-page">
	<img src="<%= urlPartner %>images/logo.png" alt="Logo" />
	<h1>404</h1>
	<p>Page not found!</p>
	<p><a href="/"><i class="icon-arrow-left"></i> Back</a></p>
	<% include ./libs/default %>
</body>
</html>