<div class="row">
	<div class="col-lg-6">
		<div class="module no-padding transaction-list" ng-init="getTransaction()">
			<div class="module-header">
				<h4>{{ transactionData.daterange.startDate }} - {{ transactionData.daterange.endDate }}</h4>
				<div class="ml-btn-action">
					<a class="btn btn-default ml-btn ml-btn-prev" ng-click="prevDateRange()">
						<i class="icon-chevron-left"></i>
					</a>
					<a class="btn btn-default ml-btn ml-btn-next" ng-click="nextDateRange()">
						<i class="icon-chevron-right"></i>
					</a>
				</div>
			</div>
			<div class="module-content">
				<!-- <ul class="list-tasks">
					<li class="task-header">Total</li>
				</ul> -->
				<div ng-include="'/statics/transaction/list.html'"></div>
				<div ng-include="'/statics/transaction/error.html'" scope="transactionErrorMsg" ng-if="transactionError"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="module">
			<div class="module-header">
				<h4>{{ 'add_transaction_title_view' | translate }}</h4>
				<div class="btn-action-manager">
                    <button class="btn btn-primary" ng-click="deleteWallet(walletId)">Delete Wallet</button>
					<button class="btn btn-default" tooltip="Edit" ng-click="editWallet()"><i class="icon-pencil"></i></button>
					<button class="btn btn-primary" ng-click="newWallet()">New Wallet</button>
				</div>
			</div>
			<div class="module-content">
				<div class="animator-fade" ng-include="'/statics/transaction/detail.html'"></div>
			</div>
		</div>
	</div>
</div>