<table class="table table-striped">
	<thead>
		<tr>
			<th ng-click="sortBy('createAt')"># <i ng-show="predicate=='createAt'" ng-class="{'icon-double-angle-down': !reverse, 'icon-double-angle-up': reverse}"></i></th>
			<th>Thumbnail</th>
			<th ng-click="sortBy('name')">Name <i ng-show="predicate=='name'" ng-class="{'icon-double-angle-down': !reverse, 'icon-double-angle-up': reverse}"></i></th>
			<th>Code</th>
			<th class="text-center">Lang</th>
			<th class="text-right" ng-click="sortBy('eventAt')">Start date <i ng-show="predicate=='eventAt'" ng-class="{'icon-double-angle-down': !reverse, 'icon-double-angle-up': reverse}"></i></th>
			<th class="text-right" ng-click="sortBy('endEventAt')">End date <i ng-show="predicate=='endEventAt'" ng-class="{'icon-double-angle-down': !reverse, 'icon-double-angle-up': reverse}"></i></th>
			<th class="text-right">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr class="animate-repeat ml-event" ng-repeat="(key, event) in listEvent | filter:searchKeyword | orderBy:predicate:reverse track by $index">
			<td class="text-center">{{ key + 1 }}</td>
			<td><img ng-src="{{ event.link_icon }}" class="img-thumbnail" /></td>
			<td>{{ event.name }}</td>
			<td title="{{ event.code }}">{{ event.code | truncate:25 }}</td>
			<td class="text-center">{{ event.addLang | otherLang:listLanguage }}</td>
			<td class="text-right">{{ event.eventAt | date:'dd/MM/yyyy HH:mm'}}</td>
			<td class="text-right">{{ event.endEventAt | date:'dd/MM/yyyy HH:mm'}}</td>
			<td class="text-right">
				<button class="btn btn-xs btn-success" ng-click="addLang(event)" tooltip="Thêm ngôn ngữ"><i class="icon-plus"></i></button>
				<button class="btn btn-xs btn-success" ng-click="edit(event)" tooltip="Sửa Event"><i class="icon-pencil"></i></button>
				<button class="btn btn-xs btn-danger" ng-click="delete(event)" tooltip="Xóa event"><i class="icon-trash"></i></button>
				<button class="btn btn-xs btn-orange" ng-click="showRedeemInfo(event)" tooltip="Redeem Info">...</button>
				<br />
				<button class="btn btn-xs btn-twitter" ng-click="showCode(event)">Code list</button><br />
				<button class="btn btn-xs btn-grape" ng-click="genCodeModal(event)" ng-hide="event.code">Gen Code</button>
			</td>
		</tr>
	</tbody>
</table>
