<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">{{mode}} users of "{{session.notification.title}}" notification</h4>
</div>
<div class="modal-body no-padding-no-margin">
    <div class="module no-padding no-margin">
        <!-- <div class="module-header">
        </div> -->
        <div class="module-content">
            <loading ng-if="isLoading"></loading>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>User</th>
                    <th>Open date</th>
                    <th>Sent date</th>
                </tr>
                </thead>
                <tbody class="fix-font">
                <tr ng-if="deviceLogs.length === 0">
                    <td>No result</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-repeat="log in deviceLogs">
                    <td class="text-center">
                        <img src="/images/android_96.png" class="icon-user-platform" alt="android_logo" ng-if="log.device.appId===1"/>
                        <img src="/images/ios_96.png" class="icon-user-platform" alt="android_logo" ng-if="log.device.platform===2"/>
                        <img src="/images/winphone_96.png" class="icon-user-platform" alt="android_logo" ng-if="log.device.appId===4"/>
                        <img src="/images/osx_96.png" class="icon-user-platform" alt="android_logo" ng-if="log.device.appId===6"/>
                        <img src="/images/windows_96.png" class="icon-user-platform" alt="android_logo" ng-if="log.device.appId===5"/>
                        <img src="/images/web_96.png" class="icon-user-platform" alt="web_logo" ng-if="log.device.appId===7"/>
                    </td>
                    <td>{{log.device.name || '---------'}}</td>
                    <td>
                        <a ng-if="log.device.owner" class="helpdesk-link" href="/users/info?email={{log.device.owner.email}}">{{log.device.owner.email}}</a>
                        <span ng-if="!log.device.owner">---------</span>
                    </td>
                    <td>{{log.openDate | checkDateTime}}</td>
                    <td>{{log.sentDate | checkDateTime}}</td>
                    <!--<td>-->
                        <!--<a class="helpdesk-link" ng-href="/users/info/{{user.email}}" target="_blank">{{ user.email }}</a>-->
                        <!--<img src="/images/facebook-icon.png" tooltip='Facebook' class="icon-user-platform" alt="facebook" ng-if="detectSocial(user.tags) == 'facebook'"/>-->
                        <!--<img src="/images/google-icon.png" tooltip='G+' class="icon-user-platform" alt="g+" ng-if="detectSocial(user.tags) == 'google'"/>-->
                        <!--<div>-->
                            <!--<img src="/images/android_96.png" tooltip='Android' class="icon-user-platform" alt="android_logo" ng-if="user.hasAndroid"/>-->
                            <!--<img src="/images/android_96_disabled.png" class="icon-user-platform" alt="android_logo" ng-if="!user.hasAndroid"/>-->
                            <!--<img src="/images/ios_96.png" tooltip='iOS' class="icon-user-platform" alt="apple_logo" ng-if="user.hasIos"/>-->
                            <!--<img src="/images/ios_96_disabled.png" class="icon-user-platform" alt="apple_logo" ng-if="!user.hasIos"/>-->
                            <!--<img src="/images/winphone_96.png" tooltip='Winphone' class="icon-user-platform" alt="windows_phone_logo" ng-if="user.hasWp"/>-->
                            <!--<img src="/images/winphone_96_disabled.png" class="icon-user-platform" alt="windows_phone_logo" ng-if="!user.hasWp"/>-->
                            <!--<img src="/images/osx_96.png" tooltip='OSX' class="icon-user-platform" alt="osx_logo" ng-if="user.hasOsx"/>-->
                            <!--<img src="/images/osx_96_disabled.png" class="icon-user-platform" alt="osx_logo" ng-if="!user.hasOsx"/>-->
                            <!--<img src="/images/windows_96.png" tooltip='Windows' class="icon-user-platform" alt="windows_logo" ng-if="user.hasWindows"/>-->
                            <!--<img src="/images/windows_96_disabled.png" class="icon-user-platform" alt="windows_logo" ng-if="!user.hasWindows"/>-->
                            <!--<img src="/images/web_96.png" tooltip='Web' class="icon-user-platform" alt="web_logo" ng-if="user.hasWeb"/>-->
                            <!--<img src="/images/web_96_disabled.png" class="icon-user-platform" alt="web_logo" ng-if="!user.hasWeb"/>-->
                        <!--</div>-->
                    <!--</td>-->
                    <!--<td class="hidden-xs hidden-sm">-->
                        <!--<span ng-if="user.flag" class="flag-icon flag-icon-{{user.flag}}" tooltip="{{user.flag.toUpperCase()}}"></span>-->
                    <!--</td>-->
                    <!--<td class="text-center hidden-xs hidden-sm">-->
                        <!--<a class="btn btn-xs" href="#" ng-click="changeSync(user)" ng-class="{'btn-danger': !user.acceptSync, 'btn-success': user.acceptSync}">-->
                            <!--<i ng-class="{'icon-check': user.acceptSync, 'icon-unchecked': !user.acceptSync}"></i>-->
                        <!--</a>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<a class="btn btn-xs" href="#" ng-click="acceptPurchased(user)" ng-class="{'btn-danger': !user.purchased, 'btn-success': user.purchased}">-->
                            <!--<i ng-class="{'icon-check': user.purchased, 'icon-unchecked': !user.purchased}"></i>-->
                        <!--</a>-->
                    <!--</td>-->
                </tr>
                <tr class="breakPage">
                    <td colspan="12" class="text-center">
                        <div class="btn-group">
                            <a class="btn btn-default" ng-click="nextPage(-1)" ng-disabled="isFirstPage || isLoading"><i class="icon-fast-backward"></i></a>
                            <button class="btn btn-default disabled" onclick="return false">Page {{page}}</button>
                            <a class="btn btn-default" ng-click="nextPage(+1)" ng-disabled="isLastPage || isLoading"><i class="icon-fast-forward"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer no-margin">
    <button type="button" class="btn" ng-click="cancel();">Close</button>
</div>
