<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Details about <strong>{{GroupDetail.name}}</strong></h4>
</div>
<div class="modal-body form-horizontal">
    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
            <input type="text"class="form-control" ng-model="GroupDetail.name" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Owner</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="GroupDetail.owner.username" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Devices</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="GroupDetail.metadata.devices" readonly >
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Countries</label>
        <div class="col-lg-10">
                <input type="text" class="form-control" ng-model="GroupDetail.metadata.countries" readonly>
        </div>
    </div>
    <div class="form-group ">
        <label class="col-lg-2 control-label">CreateAt</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="GroupDetail.createdAt" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">UpdateAt</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="GroupDetail.updateAt" readonly>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="cancel()">
        <i class="icon-remove"></i> Close
    </button>
</div>