<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Duplicate Campaign</h4>
</div>
<div class="modal-body form-horizontal">
    <div class="form-group">
        <label class="col-lg-2 control-label">Number of Copies</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="copies" ng-model="duplicate.number">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="createCopies(duplicate)">
        <i class="icon-save"></i> Create
    </button>
</div>